.b24-widget-button-wrapper {
  bottom: 0;
  right: 0;
  z-index: 100;
}

.bx-livechat-wrapper {
  right: 0;
}

.b24-widget-button-position-bottom-right .b24-widget-button-popup {
  @media (max-width: 440px) {
    left: -260px;
    bottom: 60px;
  }
}